{{#fluentbit}}
[SERVICE]
  flush 1
  daemon off
  log_level info

[INPUT]
  name tail
  path /var/log/*.log
  path_key path
  db /tmp/fluentbit.db
  tag {{input_tags}}

[OUTPUT]
  name cloudwatch_logs
  match *
  region us-east-2
  log_group_name {{output_cw_log_group_name}}
  log_stream_template $path
  log_stream_name {{output_cw_log_stream_name}}
  log_key log
{{/fluentbit}}
