[SERVICE]
  flush 1
  daemon off
  log_level info
  parsers_file parsers.conf

[INPUT]
  name tail
  path /var/log/*.log
  path_key path
  db /tmp/fluentbit.db
  tag {{fluentbit.input_tags}}

[INPUT]
  name tail
  path /var/log/containers/*.log
  path_key path
  tag {{fluentbit.input_tags}}
  parser cri

# In logs parsed by `cri` rename message -> log
[FILTER]
  name modify
  match *
  rename message log
  condition key_exists logtag

[OUTPUT]
  name cloudwatch_logs
  match *
  region us-east-2
  log_group_name {{fluentbit.output_cw_log_group_name}}
  log_key log
  log_stream_template {{instance_name}}-$path
  log_stream_prefix {{instance_name}}-
