[SERVICE]
  flush 1
  daemon off
  log_level info

[INPUT]
  name tail
  path /var/log/*.log
  path_key path
  db /tmp/fluentbit.db
  tag {{fluentbit.input_tags}}

[OUTPUT]
  name cloudwatch_logs
  match *
  region us-east-2
  log_group_name {{fluentbit.output_cw_log_group_name}}
  log_key log
  log_stream_template {{instance_name}}-$path
  log_stream_prefix {{instance_name}}-
